<!DOCTYPE html>
{% extends 'base.html' %}
<html>
{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'style.css' %}">
{% block head %}

<head>
    <title>Edit Item</title>
</head>
{% endblock head %}

{% block content %}

<body class="bg-dark text-light">
    <main class="mt-5 pt-5">
        <div class="container border text-light">
            <form action="." method="POST">{% csrf_token %}
                <label for="title">Title: </label>
                {{ form.title }}
                <label for="code">Code: </label>
                {{ form.code }}
                <label for="price">Price: </label>
                {{ form.price }}
                <input class="btn btn-outline-light btn-md" type="submit" value="Save">
                <a class="btn btn-outline-light btn-md" href="/items/edit/">Cancel</a>
            </form>
        </div>
    </main>
</body>
{% endblock content %}

</html>