<!DOCTYPE html>
{% extends 'base.html' %}
<html>
{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'style.css' %}">
{% block head %}

<head>
    <title>Edit Item</title>
</head>
{% endblock head %}

{% block content %}

<body class="bg-dark text-light">
    <main class="mt-5 pt-5">
        <div class="container border text-light">
            <div class="row pl-3 pt-3 pr-3 pb-3">
                <form action="." method="POST">{% csrf_token %}
                    {{ form }}
                    <!-- <label class="pl-3" for="title">Title: </label>
                    {{ form.title }}
                    <label class="pl-3" for="code">Code: </label>
                    {{ form.code }}
                    <label class="pl-3" for="price">Price: </label>
                    {{ form.price }}
                    <label class="pl-3" for="notes">Notes: </label>
                    {{ form.notes }} -->
                    <!-- <textarea class="text-dark" name="notes" id="notes" cols="30" rows="5"
                            placeholder="Add Notes For Item Here...">{{form.notes.value}}</textarea> -->
                    <div class="text-right">
                        <input class="btn btn-outline-light btn" type="submit" value="Save">
                        <a class="btn btn-outline-light btn" href="/items/edit/">Cancel</a>
                    </div>

                </form>
            </div>
        </div>
    </main>
</body>
{% endblock content %}

</html>