<!DOCTYPE html>
<html>
{% extends 'base.html' %}
{% block head %}
<head>
    <title>New Quote</title>
</head>
{% endblock head %}

    {% block content %}
<body class="bg-dark text-light">
    <main class="mt-5 pt-5">
        <div class="container border">
            <form action="." method="POST">{% csrf_token %}
                {{ form }}
                <input class="btn btn-outline-grey btn-lg waves-effect waves-light" type="submit">
            </form>
        </div>
    </main>
</body>
    {% endblock content %}

</html>