<!DOCTYPE html>
{% extends 'base.html' %}

<html>
{% block head %}
<title>Quote Details</title>
{% endblock head %}

{% block content %}

<body class="bg-dark text-white">
    <main class="mt-5 pt-5">
        <div class="container">
            <div class="row mb-3">
                <div class="col">
                    <h4>
                        <label for="customer">Customer: </label>
                        <strong>{{ quote.customer }}</strong>
                    </h4>
                </div>
                <div class="col">
                    <h4>
                        <label for="user">Employee: </label>
                        <strong>{{ quote.user }}</strong>
                    </h4>
                </div>
                <div class="col">
                    <h4>
                        <label for="address">Address: </label>
                        <strong>{{ quote.address }}</strong>
                    </h4>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col">
                    <h4>
                        <label for="made_date">Date: </label>
                        <strong>{{ quote.made_date }}</strong>
                    </h4>
                </div>
                <div class="col-4"></div>
                <div class="col">
                    <form class="" action="installed/" method="POST">{% csrf_token %}
                        <label for="installed">
                            <h4><strong>Installed: {{ quote.installed }}</strong></h4>
                        </label>
                        {% if quote.installed == False %}
                        <div>
                            <input class="btn btn-outline-light" type="submit" value="Installed">
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="{{item}}">
                        <h3> Items: </h3>
                    </label>
                </div>
                <div class="float-right">
                    <!-- <a class="btn btn-outline-dark" href="/quotes/{{ quote.id }}/email/">Email Quote</a> -->
                    {% if perms.quote.delete_quote %}
                    <a class="btn btn-outline-light" href="/quotes/{{quote.id}}/remove">Delete Quote</a>
                    {% endif %}
                    {% if perms.quote.change_quote %}
                    <a class="btn btn-outline-light" href="/quotes/{{ quote.id }}/add/">Add/Remove Items</a>
                    {% endif %}
                </div>
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Code</th>
                            <th>Price</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in quote.item.all %}
                        <tr>
                            <td>{{ item.item.title }}</td>
                            <td>{{ item.item.code }}</td>
                            <td>R{{ item.item.price }}</td>
                            <td>{{ item.quantity }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Total Price:</td>
                            <td>R{{ quote.total_price }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</body>
{% endblock content %}

</html>