<!DOCTYPE html>
{% extends 'base.html' %}
<html>
{% load static %}
{% block head %}

<head>
    <title>Add Items</title>
</head>
{% endblock head %}

{% block content %}

<body class="bg-dark text-light">
    <script type="text/javascript" src="{% static 'js/update.js' %}"></script>
    <main class="mt-5 pt-5">
        <div class="container">
            <h3>Items In Current Quote</h3>
            <button class="fixed-bottom text-right" id="myBtn" title="Go to top">Top</button>
            <div class="wow fadeIn text-white" style="width: 100%; overflow-y:auto; max-height:500px;">
                <table class="table table-striped table-dark">
                    <thead class="thead-dark">
                        <thead>
                            <tr>
                                {% for item in tablehead %}
                                <th>{{item}}</th>
                                {% endfor %}
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <!--Grid column-->
                        <div class="col-lg-2 col-xl-12 ml-xl-3 mb-3">
                    <tbody>
                        {% for item in quote_items %}
                        <tr>
                            <form action="../delete/" method="POST">{% csrf_token %}
                                <td>{{ item.item.title }}</td>
                                <td>{{ item.item.code }}</td>
                                <td>R{{ item.item.price }}</td>
                                <td> {{ item.quantity }} </td>
                                <td><input type="submit" name="remove" id="remove" value="X"></td>
                                <td><input type="hidden" name="item_code" id="item_code" value="{{ item.item.code }}">
                                </td>
                            </form>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="float-right">
                <a class="btn btn-outline-light" href="/quotes">Save</a>
                {% if perms.quote.delete_quote %}
                <a class="btn btn-outline-light" href="/quotes/{{quote.id}}/remove">Delete Quote</a>
                {% endif %}
            </div>
            <div class="input-group mt-5 pt-3 pb-3 col-5 rounded col-md-8 offset-md-3">
                <input class="input-group-text col-8" type="text" name="q" id="myInput" aria-describedby="button-addon2"
                    placeholder="Search For Item By Title/Code..." value="{{query}}" onkeyup="myFunction()" autofocus>
            </div>
            <div class="rounded wow fadeIn text-white">
                <table class="table test123 table-striped table-dark" id="myTable">
                    <thead class="thead-dark">
                        <tr>
                            <th class="">
                                {% if sort_by == 'title' %}
                                <a class="text-white" href="?q={{query}}&order_by=-title">Title
                                    <i class="fas fa-sort-down"></i></a>
                                {% else %}
                                <a class="text-white" href="?q={{query}}&order_by=title">Title
                                    <i class="fas fa-sort-up"></i></a>
                                {% endif %}
                            </th>
                            <th class="">
                                {% if sort_by == 'code' %}
                                <a class="text-white" href="?q={{query}}&order_by=-code">Code
                                    <i class="fas fa-sort-down"></i></a>
                                {% else %}
                                <a class="text-white" href="?q={{query}}&order_by=code">Code
                                    <i class="fas fa-sort-up"></i></a>
                                {% endif %}
                                </a></th>
                            <th class="">
                                {% if sort_by == 'price' %}
                                <a class="text-white" href="?q={{query}}&order_by=-price">Price
                                    <i class="fas fa-sort-down"></i></a>
                                {% else %}
                                <a class="text-white" href="?q={{query}}&order_by=price">Price
                                    <i class="fas fa-sort-up"></i></a>
                                {% endif %}
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <!--Grid column-->
                    <div class="col-lg-2 col-xl-12 ml-xl-3 mb-3 rounded wow fadeIn text-white">
                        <tbody>
                            {% for item in items %}
                            <tr>
                                <form action="." method="POST">{% csrf_token %}
                                    <td>{{ item.title }}</td>
                                    <td>{{ item.code }}</td>
                                    <td>
                                        R{{ item.price }}</td>
                                    <td>
                                        <div class="input-group">
                                            <input class="text-white bg-dark" type="text" name="quantity" id="quantity">
                                            <input class="btn-outline-secondary" id="button-addon2" type="submit"
                                                value="Add">
                                        </div>
                                    </td>
                                    <td><input type="hidden" name="item_code" id="item_code" value="{{ item.code }}">
                                    </td>
                                </form>
                            </tr>
                            {% endfor %}
                        </tbody>
                </table>
            </div>
        </div>
    </main>

</body>
{% endblock content %}

</html>